.o_action.account_report.o_vhg_pnl_summary {
    .o_account_reports_table {
        min-width: max-content;
    }

    th,
    td {
        white-space: nowrap;
    }

    tr[data-id="column_headers_row"] th {
        border: 1px solid var(--border-color, #45495a) !important;
        font-weight: 700;
        text-align: center !important;
        vertical-align: middle;
    }

    tr[data-id="column_subheaders_row"] th {
        border: 1px solid var(--border-color, #45495a) !important;
        font-weight: 600;
        text-align: center !important;
        vertical-align: middle;
    }

    .o_vhg_particular,
    .o_account_report_line_name {
        min-width: 270px;
    }
}
