.o_action.account_report.o_vhg_pnl_summary {
    .o_account_reports_table {
        min-width: max-content;
    }

    th,
    td {
        white-space: nowrap;
    }

    tr[data-id="report_title_row"] th.o_vhg_summary_report_title {
        border: 0 !important;
        color: var(--o-account-reports-header-color, #212529) !important;
        font-size: 1.05rem;
        font-weight: 700 !important;
        padding: 12px 14px 16px;
        text-align: left !important;
    }

    tr[data-id="column_headers_row"] th {
        border: 1px solid var(--border-color, #45495a) !important;
        color: var(--o-account-reports-header-color, #212529) !important;
        font-weight: 700 !important;
        text-align: center !important;
        vertical-align: middle;
    }

    tr[data-id="column_subheaders_row"] th {
        border: 1px solid var(--border-color, #45495a) !important;
        color: var(--o-account-reports-header-color, #212529) !important;
        font-weight: 700 !important;
        text-align: center !important;
        vertical-align: middle;
    }

    .o_vhg_particular,
    .o_account_report_line_name {
        min-width: 270px;
    }
}
